@font-face {
    font-family: "iran";
    src: url("../fonts/.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/iran.eot?#iefix") format("embedded-opentype"),
      url("../fonts/iran.woff") format("woff"),
      url("../fonts/iran.ttf") format("truetype");
    /* Safari, Android, iOS */
}
  
body {
    font-family: "iran" !important;
    font-size: 21px;
    font-weight: bold;
}
footer{
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
